<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <%= f.fields_for(:current_conditions) do |builder| %>
    <dl class="clearfix">
      <dt><%= builder.label :temperature %></dt>
      <dd><%= builder.text_field :temp %></dd>
      <dt><%= builder.label :wind_direction %></dt>
      <dd><%= builder.text_field :wind_direction %></dd>
      <dt><%= builder.label :wind_speed %></dt>
      <dd><%= builder.text_field :wind_speed %></dd>
    </dl>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Current Weather" %>
  </div>
<% end %>
