<h1>Current weather conditions:</h1>

<table id="location-list" data-time="<%= Time.now.to_i %>">
	<tr>
		<th>Location</th><th>Temp</th><th>Wind Speed</th><th>Wind Direction</th><th>Time</th>
	</tr>
<% @locations.each do |location| %>
	<tr class="current-conditions" data-id="<%= location.id %>" data-time="<%= location.current_conditions.timestamp %>">
    <td class="location"><%= link_to location.name, location %></td>
    <%= render location.current_conditions if location.current_conditions %>
  </tr>
<% end %>
</table>

<br />
