<p id="notice"><%= notice %></p>

<div class="location-details">
  <h1 class="heading">Current weather for 
  	<span id="location"><%= @location.name %></span> </h1>
  <% unless @conditions %>
	<div id="no-info">No weather information available</p>
	<% else %>
  <div class="current-conditions" data-time="<%= @conditions.timestamp %>" data-id="<%= @location.id %>" >
	  <p>Temperature: 
	  	<span class="temp"><%= @conditions.temp %></span></p>
	  <p>Wind Speed: 
	  	<span class="wind-speed"><%= @conditions.wind_speed %></span> mph</p>
	  <p>Wind Direction: 
	  	<span class="wind-direction"><%= @conditions.wind_direction %></span></p>
	  <p>Report Time: 
	  	<span class="time"><%= @conditions.formatted_time %></span></p>
	</div>
	<% end %>
</div>
<%= link_to 'Back to locations', locations_path %>
<% if @conditions %>
	| <%= link_to 'Conditions History', location_history_path(@location) %>
<% end %>
